<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
SYSTEM
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="it.company.noname.mapper.theaterCommentMapper">
	<select id = "getCommentList" resultType = "theaterCommentVO">
		select * from brooks.theatercomment where id = #{id}
	</select>
	
	<insert id="insertComment">
		insert into brooks.theatercomment(place_name, id, email, content, user_rating, reg_date) 
		values(#{placeName}, #{id}, #{email}, #{content}, #{userRating}, current_timestamp)
	</insert>
	
	<update id="updateComment">
		update brooks.theatercomment 
		set content = #{content}, user_rating = #{userRating}
		where num = #{num}
	</update>
	
	<delete id="deleteComment">
		delete from brooks.theatercomment where num = #{num}
	</delete>
	
	<update id = "updateLikeCount">
		update brooks.theatercomment 
		set likecount = likecount + 1 
		where num = #{num} 
	</update>
	
</mapper>