<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
SYSTEM
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="it.company.noname.mapper.helpMapper">
 
 <select id="boardList" resultType="it.company.noname.domain.helpBoardVO">
 	select * from help.helpboard where ?>0
 </select>
 
 
 </mapper>